Repository wellintonpiassa/UNI, pull requests merged in 2022-04, with the labels that each got.

#5 Documentação sobre a execução do backend.
  .env
  backend/.env.example
  backend/.gitignore
  backend/README.md
  database/es.sql
  docker-compose.yml
Labels: Documentação, Backend

#8 Adicionando campos na rota de cadastro de eventos
  backend/src/middlewares/validators/EventValidator.js
  backend/src/models/Event.js
  backend/src/services/EventService.js
Labels: Backend

#6 Implementar autenticação de rotas no mobile.
  mobile/src/contexts/auth.tsx
  mobile/src/pages/signin.tsx
  mobile/src/services/signIn.ts
Labels: Mobile

#9 Implementar feed de eventos.
  mobile/android/app/build.gradle
  mobile/android/app/proguard-rules.pro
  mobile/android/app/src/main/java/com/mobile/MainApplication.java
  mobile/babel.config.js
  mobile/package.json
  mobile/src/App.tsx
  mobile/src/components/eventCard.tsx
  mobile/src/components/feedDrawer.tsx
  mobile/src/components/textInput.tsx
  mobile/src/pages/feed.tsx
  mobile/src/pages/home.tsx
  mobile/src/pages/signin.tsx
  mobile/src/pages/signup.tsx
  mobile/src/routes/feedNavigator.tsx
  mobile/src/routes/routes.tsx
  mobile/src/services/event.ts
  mobile/yarn.lock
Labels: Mobile

#12 Feat frontend criar evento
  mobile/src/components/datePicker.tsx
  mobile/src/contexts/auth.tsx
  mobile/src/pages/createEvent.tsx
  mobile/src/pages/feed.tsx
  mobile/src/pages/signup.tsx
  mobile/src/routes/routes.tsx
  mobile/src/services/event.ts
Labels: Mobile

#13 Feat frontend status criacao
  backend/src/middlewares/validators/EventValidator.js
  mobile/assets/images/failed.png
  mobile/assets/images/success.png
  mobile/src/pages/createEvent.tsx
  mobile/src/pages/createEventStatus.tsx
  mobile/src/pages/feed.tsx
  mobile/src/routes/routes.tsx
  mobile/src/services/event.ts
Labels: Mobile

#14 Atualizar release.
  .env
  backend/.env.example
  backend/.gitignore
  backend/README.md
  backend/knexfile.js
  backend/package-lock.json
  backend/package.json
  backend/src/controllers/EventController.js
  backend/src/controllers/UserController.js
  backend/src/middlewares/JWTAuth.js
  backend/src/middlewares/validators/EventValidator.js
  backend/src/middlewares/validators/UserValidator.js
  backend/src/models/Event.js
  backend/src/server/routes.js
  backend/src/services/EventService.js
  backend/src/services/UserService.js
  backend/yarn.lock
  database/es.sql
  docker-compose.yml
  mobile/android/app/build.gradle
  mobile/android/app/proguard-rules.pro
  mobile/android/app/src/main/java/com/mobile/MainApplication.java
  mobile/assets/images/failed.png
  mobile/assets/images/success.png
  mobile/babel.config.js
  mobile/package.json
  mobile/src/App.tsx
  mobile/src/components/datePicker.tsx
  mobile/src/components/eventCard.tsx
  mobile/src/components/feedDrawer.tsx
  mobile/src/components/feedModal.tsx
  mobile/src/components/picker.tsx
  mobile/src/components/textInput.tsx
  mobile/src/contexts/auth.tsx
  mobile/src/pages/createEvent.tsx
  mobile/src/pages/createEventStatus.tsx
  mobile/src/pages/feed.tsx
  mobile/src/pages/home.tsx
  mobile/src/pages/signin.tsx
  mobile/src/pages/signup.tsx
  mobile/src/routes/feedNavigator.tsx
  mobile/src/routes/routes.tsx
  mobile/src/services/event.ts
  mobile/src/services/signIn.ts
  mobile/yarn.lock
Labels: Mobile
