Repository wellintonpiassa/UNI, pull requests merged in 2022-05, with the labels that each got.

#15 Atualizando arquivos do banco de dados
  database/ER.svg
  database/Mapeamento DER.txt
  database/SQL ES.txt
  database/es.sql
Labels: Banco de Dados

#16 Remover parsing manual da data no cadastro do usuário
  backend/src/middlewares/validators/UserValidator.js
  backend/src/services/UserService.js
Labels: enhancement, Backend

#19 Implementando uma rota no backend para adicionar/remover um evento da lista de favoritos
  backend/src/controllers/UserController.js
  backend/src/middlewares/JWTAuth.js
  backend/src/middlewares/validators/UserValidator.js
  backend/src/server/routes.js
  backend/src/services/UserService.js
Labels: Backend
